@charset "utf-8";
/* 팝업 */
.p_style {opacity: 0; display: none; background-color: #fff; }

#popup {display:inline-block; vertical-align:middle; width:100%; }
#popup .p_head, #popup .p_body, #popup .p_foot {display:inline-block; vertical-align:middle; width:100%;}
#popup .p_head {height:20px; padding:15px; background:#006ab6;}
#popup .bClose {min-width: 68px; height: 38px; padding: 0px 15px; font: 15px NanumGothic; line-height: 38px; border: #006ab6 solid 1px; background: #f5f6f8; color: #006ab6; text-decoration: underline; vertical-align: middle; border-radius: 4px; text-align: center; cursr:pointer; display: inline-block; }
#popup .bbutton {min-width: 68px; height: 38px; padding: 0px 15px; font: 15px NanumGothic; line-height: 38px; border: #006ab6 solid 1px; background: #f5f6f8; color: #006ab6; text-decoration: underline; vertical-align: middle; border-radius: 4px; text-align: center; cursr:pointer; display: inline-block; }